<?xml version="1.0" encoding="UTF-8"?>
<plugin>

   <extension
         id="com.thalesgroup.rental.ui.fragment"
         point="org.eclipse.e4.workbench.model">
      <fragment
            uri="fragment.e4xmi">
      </fragment>
   </extension>
   <extension
         point="com.opcoach.e4.preferences.e4PreferencePages">
      <page
            class="com.thalesgroup.rental.ui.prefs.ColorPreferencePage"
            id="com.thalesgroup.rental.ui.prefs.colors"
            name="Rental Colors">
      </page>
   </extension>
   <extension
         point="org.eclipse.core.runtime.preferences">
      <initializer
            class="com.thalesgroup.rental.ui.PreferencesInitializer">
      </initializer>
   </extension>

</plugin>
